#manchuriyan{
    height: 430px;
    background-image: url('https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png');
    background-size: 100% 100%;
}

#top_bar{
    padding-top:50px;
    color: white;
    font-size: 20px;
}

#tomato,#app,#signup,#login,.p{
    color:white;
    background-color: transparent;
    text-decoration: none;
}

#app{
    float: left;
    padding-left: 200px;
}

#login{
    float: left;
    padding-left: 800px;
}

#signup{
    float: left;
    padding-left: 20px;
}

#tomato{
    text-align:center;
    padding-top: 70px;
    color: white;
    font-size: 80px;
    margin: 0px;
}

#discover{
    color: white;
    font-size: 50px;
    text-align: center;
    margin: 0px;
}

#search{
    text-align: center;
    padding: 20px;
}

#search1,#search2{
    height: 40px;
    font-size:20px;
    border-radius: 10px;
    font-family: "CourierNew";
    border-collapse: collapse;
}

#search1{
    width:150px;
}

#search2{
    width:600px;
}

.options1:hover,.options2:hover,.options3:hover{
    width: 373px;
    height: 260px;   
    margin:10px;
    text-decoration: none;

}

.options1,.options2,.options3{
    width: 353px;
    height: 240px;
    border-radius: 10px;
	margin:20px;  
    text-decoration: none;

}
.options1{
    background-image:url('https://b.zmtcdn.com/webFrontend/e5b8785c257af2a7f354f1addaf37e4e1647364814.jpeg?output-format=webp&fit=around|402:360&crop=402:360;*,*');
}

.options2{
    background-image:url('https://b.zmtcdn.com/webFrontend/d026b357feb0d63c997549f6398da8cc1647364915.jpeg?output-format=webp&fit=around|402:360&crop=402:360;*,*');
}

.options3{
    background-image:url('https://b.zmtcdn.com/webFrontend/d9d80ef91cb552e3fdfadb3d4f4379761647365057.jpeg?output-format=webp&fit=around|402:360&crop=402:360;*,*');
}

#things{
    padding-top: 50px;
    padding-left: 150px;
    padding-right: 150px;
    text-align:center;
	display:flex;
}

.p{
    margin-top:200px;
    padding-bottom: 50px;
    background-color: white;
    color:black;
    text-decoration: none;
}

#h11{
	padding-left:170px;
	margin:0px;
}

.ppp{
	font-size:20px;
	margin:0px;
	padding-left:170px;
}

#collection{
    padding-top: 20px;
    padding-left: 150px;
    padding-right: 150px;
    text-align:center;
	display:flex;
}
#op1,#op2,#op3,#op4{
    width: 267px;
    height: 320px;
    border-radius: 5px;
	margin: 10px;
    background-size: 100% 100%;
    text-decoration: none;
}

#op1{
    background-image:url('https://b.zmtcdn.com/data/collections/684397cd092de6a98862220e8cc40aca_1709810207.png?output-format=webp');
}

#op2{
    background-image:url('https://b.zmtcdn.com/data/collections/2b9361aa328a43b08986f77bbec280bd_1709810493.png?output-format=webp');
}

#op3{
    background-image:url('https://b.zmtcdn.com/data/collections/908aad87392ba1f9526e7b483b94d124_1711107868.jpg?output-format=webp');
}

#op4{
    background-image:url('https://b.zmtcdn.com/data/collections/7771cf3a18e1da2916794d3998260c69_1709811176.png?output-format=webp'); 
}

.pp{
    margin-top:300px;
    font-size: 20px;
    background-color: transparent;
    color: white;
}

.norway{
    font-size:25px;
    padding-left: 160px;
}

#gamer{
    padding-left: 150px;
    padding-right: 150px;
    display: grid;
    grid-template-columns: 32% 32% 32%;

}

.more{
    border:1px groove gray;
    border-radius: 10px;
    height:40px;
    padding:10px;
    margin:10px;
    width:250px;
}

.more:hover{
    border:1px solid black;
}

.cities{
    padding-left: 10px;
    margin-top: 0px;
    width:330px;
}

.ok{
    font-size:100px;
}

.app{
    text-align: center;
}

#mobile_app{
    background-color: rgb(228, 212, 196);
    display:flex;
}
